<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Adding Success!</title>
<style type="text/css">

h1 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

body {
	background-color: seagreen;
}

a {
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	color: black;
	text-decoration: none;
}

a:hover {
	color: #f2f2f2;
}
</style>
</head>
<body>
	<h1>Employee Added Successfully!!</h1>
	<a href="/employee/displayAll">View All Users</a>
</body>
</html>